@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

body {font-family:"Noto Serif",serif;}

h1 {font-size:100px;
font-weight:720;
margin-left:32px;
margin-bottom:125px;
margin-top:19px;}

h2 {font-size:30px;
  font-weight:630;
  margin-bottom:-9px;
}

h3 {font-size:30px;
font-weight:640;
margin-top:80px;
margin-bottom:-9px;}

p {font-size:17px;
font-weight:430;
line-height:1.4;
color:#000000;
margin-bottom:125px;}

b {
  font-weight:730;
}
